<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>아이고...</title>
    <style>v\:* { behavior: url(#default#VML); }</style>
    <!-- prevent IE6 flickering -->
    <script type="text/javascript">
    try {document.execCommand('BackgroundImageCache', false, true);} catch(e) {}
    </script>

    <script type="text/javascript" src="http://openapi.map.naver.com/openapi/naverMap.naver?ver=2.0&key=ca2be71e39158a2cdac5a9ee1d0a654e"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>



<div class=page>
  <h1>Flaskr</h1>
  <div class=metanav></div>
  {% block body %}{% endblock %}
</div>