{% extends "layout.html" %}
{% block body %}

<form action="{{ url_for('add_entry') }}" enctype="multipart/form-data" method="post" class="add-entry">
<dl>
  <dt>Title:
  <dd><input type="text" size=30 name="title">
  <dt>Text:
  <dd><textarea name="contents" rows=5 cols=40></textarea>
  <dt>Photo:
  <dd><input type="file" name="photo">
  <dd><input type="submit" value="POST">
</dl>
</form>

<ul class="entries">
  {% for entry in entries %}
  <li>
  <h2>
  {{ entry['title'] }}
  </h2>
  <h5>
  {{ entry['contents'] }}
  </h5>

  {% if entry['Photo'] %}
  <!-- select photo by its key and print it -->
  <img src="show/{{ entry['Photo'] }}"><br>

  <!-- map info(latlon) -->
  <p>{{ entry['latlon']}}<p>

  <!-- naver map -->
  <div>
    <form action="{{ url_for('map', idx=entry['num'])}}" target="_blank" method="GET">
    <input type=submit value="go to map"></form>
   </div>
  {% endif%}
  {% endfor %}
</ul>
{% endblock %}





