<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>wtforms example</title>

</head>

<body>
	<DIV>
		<a>{{contents}}{{news}}</a>
	</div>
	<form action="index" method="get">
		<input type="text" name="test_get">
		<input type="Submit" value="Submit">
	</form>

	
</body>
</html>
















<!-- 
#class
<body>
	{% for message in form.name.errors %}
	<div>{{ message }}</div>
	{% endfor %}

	{% for message in form.email.errors %}
	<div>{{ message }}</div>
	{% endfor %}

	{% for message in form.subject.errors %}
	<div>{{ message }}</div>
	{% endfor %}

	{% for message in form.message.errors %}
	<div>{{ message }}</div>
	{% endfor %}

	<form action="{{ url_for('index') }}" method=post>
		{{ form.hidden_tag() }}

		{{ form.name.label }}
		{{ form.name }}

		{{ form.email.label }}
		{{ form.email }}

		{{ form.subject.label }}
		{{ form.subject }}

		{{ form.message.label }}
		{{ form.message }}

		{{ form.submit }}
	</form>
</body> -->